body {
    background: #eee;
}

h1 {
    margin-left: 5%;
    margin-bottom: 10px;
}

#grid {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#grid a {
    height: 20px;
}

#items {
    grid-area: items;
}

#price {
    grid-area: price;
}