@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	margin: 0px;
	font-size: 12pt;
	font-family: 'Raleway', sans-serif;
}

/* Margins */
.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }
.mt-3 {	margin-top: 35px; }
.mt-4 {	margin-top: 50px; }
.mt-5 {	margin-top: 75px; }
.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 {	margin-bottom: 35px; }
.mb-4 {	margin-bottom: 50px; }
.mb-5 {	margin-bottom: 75px; }
.ml-1 { margin-left: 10px; }
.ml-2 { margin-left: 20px; }
.ml-3 {	margin-left: 35px; }
.ml-4 {	margin-left: 50px; }
.ml-5 {	margin-left: 75px; }
.mr-1 { margin-right: 10px; }
.mr-2 { margin-right: 20px; }
.mr-3 {	margin-right: 35px; }
.mr-4 {	margin-right: 50px; }
.mr-5 {	margin-right: 75px; }
.mx-1 { margin: 0 10px 0 10px; }
.mx-2 { margin: 0 20px 0 20px; }
.mx-3 {	margin: 0 35px 0 35px; }
.mx-4 {	margin: 0 50px 0 50px; }
.mx-5 {	margin: 0 75px 0 75px; }
.my-1 { margin: 10px 0 10px 0; }
.my-2 { margin: 20px 0 20px 0; }
.my-3 {	margin: 35px 0 35px 0; }
.my-4 {	margin: 50px 0 50px 0; }
.my-5 {	margin: 75px 0 75px 0; }
.m-1 { margin: 10px; }
.m-2 { margin: 20px; }
.m-3 { margin: 35px; }
.m-4 { margin: 50px; }
.m-5 { margin: 75px; }
.mx-auto { margin-left: auto; margin-right: auto; }

/* Padding */
.p-1 { padding: 10px; }
.p-2 { padding: 20px; }
.p-3 { padding: 35px; }
.p-4 { padding: 50px; }
.p-5 { padding: 75px; }

/* Alignment */
.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.text-center { text-align: center; }

/* Text size and color */
.text-title { font-size: 24pt; }
.text-subtitle { font-size: 14pt; }

/* Buttons */
.btn {
	text-decoration: none;
	display: block;
	border-radius: 5px;
	border: 0;
	padding: 10px 30px;
	text-align: center;
	transition: border-radius 0.2s;
}
.btn:hover {
	border-radius: 25px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.btn:focus {
	border-radius: 25px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
	opacity: 0.9;
}
.btn-primary {
	color: white;
	background-color: #428BCA;
}
.btn-info {
	color: white;
	background-color: #5BC0DE;
}
.btn-success {
	color: white;
	background-color: #5CB85C;
}
.btn-danger {
	color: white;
	background-color: #D9534F;
}

/* Link */
a {
	text-decoration: none;
}

/* Background colors */
.bg-white { 
	color: black;
	background-color: white; 
}
.bg-light { 
	color: black;
	background-color: #EEE; 
}
.bg-med { 
	color: black;
	background-color: #DDD; 
}
.bg-dark {
	color: white;
	background-color: #222;
}
.bg-dark a, .bg-dark a:visited {
	color: white;
	text-decoration: underline;
}
.bg-dark .btn {
	color: black;
	text-decoration: none;
}

/* Containers */
.card {
	border: 1px solid #777;
	border-radius: 5px;
}
.card-title {
	font-size: 18pt;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #777;
}

/* Modals (from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black with opacity */
}
.modal-content {
	z-index: 2;
}
.modal-close {}
.modal-toggle {}

/* Inputs */
.form-control {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	background-color: white;
	display: block;
}

/* Navbar */
.navbar {
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* Images/Logo */
#search {
	width: 20px;
	height: 20px;
	padding: 10px;
}

#logo {
	position: absolute;
	margin: 10px auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 280px;
	height: 80px;
}