* {
    box-sizing: border-box
}

body {
    font-family: Verdana, Helvetica, sans-serif;
}

input {
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    background: #f2f2f2;
    width: 60%;
}

input:focus {
    width: 60%;
    background-color: white;
    outline: none;
}

hr {
    border: 1px solid black;
    margin-bottom: 25px;
}

button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}

#signupbtn {
    float: left;
    width: 50%;
}

.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}