body {
    text-align: center;
}

h1 {
    text-transform: capitalize;
    text-decoration: black underline;
    font-size: 35px;
    margin: 30px 0;
}

section h2 {
    font-size: 20px;
    padding: 30px 0 0;
}

form:not(form.search) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto;
}

section {
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 60%;
    margin: 20px auto 50px;
}

fieldset {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

label {
    text-align: left;
    margin: 0 10px;
    width: 50%;
}

.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-form {
    display: flex;
    flex-display: column;
    justify-content: space-between;
}

.password-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}