<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header><script src="https://kit.fontawesome.com/591fc9484d.js" crossorigin="anonymous"></script></header>
<footer th:fragment="footer">
  <div class="web-logo">
    <a href="/"><img th:src="@{/img/logo.svg}" alt="CollegeRetro Logo"></a>
  </div>
  <div class="copyright">
  <h2>&copy; 2021 CollegeRetro. All rights reserved.</h2>
  </div>
  <div class="user-agreement">
    <p>
      Use of this site constitutes acceptance of our User Agreement (effective 1/1/2021)
      and Privacy Policy (effective 1/1/2021). CollegeRetro may earn a portion of sales
      from products that are purchased through our site as part of our Affiliate
      Partnerships with retailers. Your Athens Privacy Rights (effective 1/1/2021).
      The material on this site may not be reproduced, distributed, transmitted, cached
      or otherwise used, except with prior written permission of CollegeRetro.
    </p>
  </div>
</footer>
</html>