<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="listing card bg-light p-1 w-25" th:fragment="listingCard(listing)">
    <p class="card-title" th:text="${listing.getListingName()} + ' ($' + ${listing.getPriceInCents() / 100} + '.' + ${listing.getPriceInCents() % 100} + ')'"></p>
    <img th:src="${listing.getImageURL()}" th:alt="'Image of ' + ${listing.getListingName()}">
    <p th:text="${listing.getDescription()}"></p>
    <br>
    <p th:text="'Remaining: ' +  ${listing.getQuantity()}"></p>
    <p th:text="'Category: ' +  ${listing.getCategory()}"></p>
</div>
</html>
