<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro - Create Account</title>

    <link rel="stylesheet" th:href="@{/style/create-account.css}">
</head>
<body>
    <div> Menu Bar to go here</div>
    <h1>Sign Up</h1>
    <form action="/account/create" method="post">
        <div class="container">
            <hr>
            <label for="email">Email</label>
            <br>
            <input type="email" id="email" placeholder="Email" name="email" required>
            <br><br>
            <label for="username">Username</label>
            <br><br>
            <input type="text" id="username" placeholder="Username" name="username" minlength="6" required>
            <br><br>
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" placeholder="Password" name="password" minlength="8" required>
            <br>
            <label>Confirm Password</label>
            <br>
            <input required placeholder="Confirm Password" type="password" id="password_confirm" oninput="check(this)"/>
            <br><br>
            <button type="submit" id="signupbtn">Sign Up</button>
        </div>
    </form>
</body>
</html>

<script language='javascript' type='text/javascript'>
    function check(input){
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Passwords must match');
        } else {
            input.setCustomValidity('');
        }
    }

    document.getElementById('password').addEventListener("input", function(input){
        if (input.value != document.getElementById('password_confirm').value) {
            input.setCustomValidity('Passwords must match');
        } else {
            input.setCustomValidity('');
        }
    });
</script>