<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro</title>
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <link rel="stylesheet" th:href="@{/style/index.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
    <main>
        <section>
            <header>
                <h2>Search by Category</h2>
            </header>
            <ul>
                <li><a href="/search?cat=Books">Books</a></li>
                <li><a href="/search?cat=Dorm+Furniture">Dorm Furniture</a></li>
                <li><a href="/search?cat=Dorm+Appliances">Dorm Appliances</a></li>
                <li><a href="/search?cat=Computing">Computing Devices & Accessories</a></li>
            </ul>
        </section>

        <section>
            <header>
                <h2>Recent Listings</h2>
            </header>
            <!-- TODO(michaelrehman): display more information more -->
            <div class="card bg-light p-1 w-25 mx-auto" th:each="listing : ${listings.toList()}">
                <p class="card-title" th:text="${listing.getListingName()} + ' ($' + ${listing.getPriceInCents() / 100} + '.' + ${listing.getPriceInCents() % 100} + ')'"></p>
                <p th:text="${listing.getDescription()}"></p>
                <br>
                <p th:text="'Remaining: ' +  ${listing.getQuantity()}"></p>
                <p th:text="'Category: ' +  ${listing.getCategory()}"></p>
            </div>
        </section>
    </main>
</body>
</html>