<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro - Item</title>
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/591fc9484d.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<div class="card bg-med w-25 mt-5 mx-auto p-2">
    <p class="card-title">Error!</p>
    <p class="mt-2">The requested listing does not exist. Return to homepage?</p>
    <a class="btn btn-primary mt-2" href="/">Home</a>
</div>
</body>
</html>