<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro - Admin View Listings</title>
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/591fc9484d.js" crossorigin="anonymous"></script>
</head>
<body>
    <table>
        <tr>
            <th>Listing ID</th>
            <th>Listing Title</th>
            <th>Category</th>
            <th>Closed</th>
        </tr>
        <tr th:each="listing : ${listings}">
            <td th:text="${listing.getListingId()}"></td>
            <td th:text="${listing.getListingName()}"></td>
            <td th:text="${listing.getCategory()}"></td>
            <td>
                <input th:if="${listing.isOpen()}" type="checkbox" th:name="${listing.getListingId()}">
                <input th:unless="${listing.isOpen()}" type="checkbox" th:name="${listing.getListingId()}" checked>
            </td>
        </tr>
    </table>

    <script>
        const handleStatusChange = (event) => {
            event.target.setAttribute("disabled", "");

            const formData = new FormData();
            formData.append("listingId", event.target.getAttribute("name"));
            formData.append("isOpen", String(!event.target.checked));

            const request = new XMLHttpRequest();
            request.onload = () => event.target.removeAttribute("disabled");
            request.open("POST", "/admin/listing/markStatus");
            request.send(formData);
        };

        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach((checkbox) => checkbox.addEventListener("change", handleStatusChange));
    </script>
</body>
</html>