<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro - Log In</title>
    <link rel="stylesheet" th:href="@{/style/login.css}">
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/topnav :: navbar"></nav>
<div class="login-box">
    <form id="login-form" action="/account/login" method="post">
        <div class="title">
            <h2>Login</h2>
        </div>
        <div class="input">
            <input class="form-control" type="text" name="username" id="username" placeholder="Username/Email" required autofocus>
        </div>
        <div class="input">
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="actions">
            <a href="/account/forgot">Forgot your password?</a>
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div>
            <p>New to CollegeRetro? Click <a href="/account/create">here to sign up!</a></p>
        </div>
    </form>
</div>
<div>
    <img th:src="@{/img/mountain.png}" id="mountains">
</div>
<div class="note">
    <p>Your login connection with CollegeRetro is secured.</p>
    <p>For customer service help with login, call 1-800-123-1234</p>
</div>
</body>
</html>