<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro - Log In</title>
    <link rel="stylesheet" th:href="@{/style/login.css}">
</head>
<body>

<div class="login-box">
    <form id="login-form" action="/account/login" method="post">
        <img th:src="@{/img/logo.png}" alt="CollegeRetro Logo">
        <h1>CR Secure Sign-On</h1>
        <label for="username">Username or E-Mail:</label><br>
        <input type="text" name="username" id="username" required autofocus><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Login</button>
        <a href="/account/forgot">Forgot your password?</a>
        <br><br>
        <p>New to CollegeRetro? Click here to sign up!</p>
    </form>
</div>

<p>Your login connection with CollegeRetro is secured.</p>
<p>For customer service help with login, call 1-800-123-1234</p>

</body>
</html>