<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeRetro - My Profile</title>
</head>
<body>
    <main>
        <h1>My Profile</h1>
        <section>
            <h2>Credit Cards</h2>
        </section>
        <section>
            <h2>Addresses</h2>
        </section>
        <section>
            <h2>Username</h2>
            <form action="/account/user/username" method="post">
                <input type="text" name="username" th:value="${userkey.getUsername()}">
                <input type="submit" value="Submit">
            </form>
        </section>
        <section>
            <h2>Password</h2>
        </section>
    </main>
</body>
</html>