<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro - Create New Listing</title>
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/591fc9484d.js" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/topnav :: navbar"></nav>
<div class="new-listing-box">
    <div class="card bg-light w-25 mt-3 mx-auto p-2">
        <h1 class="card-title">Create a new listing</h1>
        <form action="/account/listing" enctype="multipart/form-data" method="post">
            <label for="title" class="mt-1" style="display: inline-block">Product Name</label>
            <input class="form-control w-100" type="text" id="title" name="title" placeholder="Title of your listing" required autofocus>
            <label for="price" class="mt-1" style="display: inline-block">Price</label>
            <input class="form-control w-100" type="number" id="price" name="price" placeholder="Price in USD" step="0.01" min="0.01" required>
            <label for="quantity" class="mt-1" style="display: inline-block">Inventory</label>
            <input class="form-control w-100" type="number" id="quantity" name="quantity" placeholder="Quantity available for sale" step="1" min="1" required>
            <label for="category" class="mt-1" style="display: inline-block">Select a category</label>
            <select class="w-100" id="category" name="category" style="display: block" required>
                <option value="" selected hidden disabled>Select a product category</option>
                <option value="textbooks">Textbooks</option>
                <option value="furniture">Dorm Furniture</option>
                <option value="appliances">Dorm Appliances</option>
                <option value="computing">Computing Devices & Accessories</option>
            </select>
            <label for="description" class="mt-1" style="display: inline-block">Description</label>
            <textarea class="w-100" id="description" name="description" placeholder="Enter listing description" style="display: block"></textarea>
            <label for="image" class="mt-1" style="display: inline-block">Image</label>
            <input class="form-control w-100" type="text" id="image" name="image" placeholder="Enter a link to an image of the product" required>
            <div class="actions mt-3">
                <button class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Publish</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>