<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollegeRetro - Privacy Policy</title>
    <link rel="stylesheet" th:href="@{/style/login.css}">
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/591fc9484d.js" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/topnav :: navbar"></nav>
<div class="privacy-box">
   <h2><i class="fas fa-user-lock"></i> CollegeRetro Privacy Policy</h2>
    <p> At CollegeRetro, we respect your privacy. That is why we will never share and/or sell the information you give us.
        We only request the minimal amount of information strictly for the purpose of providing you a great experience
        while using our website and services. However, our lawyers still requires us to tell you this and require that
        you click the checkbox before you sign up on our website so that we are in compliance with data protection
        regulations.
    </p>
</div>
<div>
    <img th:src="@{/img/mountain.png}" id="mountains">
</div>
</body>
</html>