<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeRetro - My Profile</title>
    <link rel="stylesheet" th:href="@{/style/myprofile.css}">
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <main>
        <h1 th:text="${session.user.getUsername()} + '\'s Profile'"></h1>
        <!-- TODO(michaelrehman): add labels and update actions -->
        <!-- TODO(michaelrehman): create unique `name`s to differentiate between each instance -->
        <section>
            <h2>Credit Cards</h2>
            <form action="#">
                <fieldset th:each="card : ${cards}">
                    <div class="input-section">
                        <label>Name:</label>
                        <input class="form-control" type="text" name="nameOnCard" th:value="${card.getNameOnCard()}" required>
                    </div>
                    <div class="input-section">
                        <label>Card Number:</label>
                        <input class="form-control" type="text" name="cardNumber" th:value="${card.getCardNumber()}" required>
                    </div>
                    <div class="input-section">
                        <label>Expiration:</label>
                        <!-- TODO(michaelrehman): pad month with left-leading 0's or else browser won't recognize it -->
                        <input class="form-control"type="month" name="exp" th:value="${card.getExpYear()} + '-' + ${card.getExpMonth()}" required>
                    </div>
                    <div class="input-section">
                        <label>CVV:</label>
                        <input class="form-control" type="number" name="cvv" th:value="${card.getCvv()}" required>
                    </div>
                </fieldset>
            </form>
        </section>
        <section>
            <h2>Addresses</h2>
            <form action="#">
                <fieldset th:each="address : ${addresses}">
                    <div class="input-section">
                        <label>Address:</label>
                        <input class="form-control" type="text" name="primaryLine" th:value="${address.getPrimaryLine()}" required>
                    </div>
                    <div class="input-section">
                        <input class="form-control" type="text" name="optionalLine" th:value="${address.getOptionalLine()}">
                    </div>
                    <div class="input-section">
                        <label>Zip Code:</label>
                        <input class="form-control" type="text" name="zipCode" th:value="${address.getZipCode()}" required>
                    </div>
                    <div class="input-section">
                        <label>City:</label>
                        <input class="form-control" type="text" name="city" th:value="${address.getCity()}" required>
                    </div>
                    <div class="input-section">
                        <label>State:</label>
                        <input class="form-control" type="text" name="state" th:value="${address.getState()}" required>
                    </div>
                </fieldset>
            </form>
        </section>
        <section>
            <div class="info-section">
                <div>
                    <h2>Username</h2>
                    <form action="/account/user/username" method="post" class="user-form">
                        <div class="input-section">
                            <label>Username</label>
                            <input class="form-control" type="text" name="username" th:value="${session.user.getUsername()}">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                </div>
                <div>
                    <h2>Password</h2>
                    <form action="#" class="password-form">
                        <div class="input-section">
                            <label>New Password</label>
                            <input class="form-control" type="text" name="newPassword">
                        </div>
                        <div class="input-section">
                            <label>Confirm Password</label>
                            <!-- TODO(michaelrehman): JS check if passwords match -->
                            <input class="form-control" type="text" name="confirmPassword">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </section>
        <section>
            <h2>Listings</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Open</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="listing : ${listings}">
                        <td th:text="${listing.getCategory()}"></td>
                        <td th:text="${listing.getListingName()}"></td>
                        <!-- TODO(michaelrehman): convert to dollar value -->
                        <td th:text="${listing.getPriceInCents()}"></td>
                        <td th:text="${listing.isOpen()}"></td>
                        <td th:text="${listing.getDescription()}"></td>
                        <td th:text="${listing.getQuantity()}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>