<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeRetro - My Profile</title>
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragments/topnav :: navbar"></div>
<main>
    <h1 class="text-title mt-3 text-center" th:text="${session.user.getUsername()} + '\'s Profile'"></h1>
    <div class="card bg-light p-2 w-25 mt-3 mx-auto">
        <h2 class="card-title">Credit Cards</h2>
<!--            <form action="#">-->
<!--                <div class="input-section">-->
<!--                    <label>Name:</label>-->
<!--                    <input class="form-control" type="text" name="nameOnCard" required>-->
<!--                </div>-->
<!--                <div class="input-section">-->
<!--                    <label>Card Number:</label>-->
<!--                    <input class="form-control" type="text" name="cardNumber" required>-->
<!--                </div>-->
<!--                <div class="input-section">-->
<!--                    <label>Expiration:</label>-->
<!--                    &lt;!&ndash; TODO(michaelrehman): pad month with left-leading 0's or else browser won't recognize it &ndash;&gt;-->
<!--                    <input class="form-control" type="month" name="exp" required>-->
<!--                </div>-->
<!--                <div class="input-section">-->
<!--                    <label>CVV:</label>-->
<!--                    <input class="form-control" type="number" name="cvv" required>-->
<!--                </div>-->
<!--            </form>-->
    </div>
    <div class="card bg-light p-2 w-25 mt-3 mx-auto">
        <h2 class="card-title">Addresses</h2>
<!--            <form action="#">-->
<!--                <div class="input-section">-->
<!--                    <label>Address:</label>-->
<!--                    <input class="form-control" type="text" name="primaryLine" required>-->
<!--                </div>-->
<!--                <div class="input-section">-->
<!--                    <input class="form-control" type="text" name="optionalLine">-->
<!--                </div>-->
<!--                <div class="input-section">-->
<!--                    <label>Zip Code:</label>-->
<!--                    <input class="form-control" type="text" name="zipCode" required>-->
<!--                </div>-->
<!--                <div class="input-section">-->
<!--                    <label>City:</label>-->
<!--                    <input class="form-control" type="text" name="city" required>-->
<!--                </div>-->
<!--                <div class="input-section">-->
<!--                    <label>State:</label>-->
<!--                    <input class="form-control" type="text" name="state" required>-->
<!--                </div>-->
<!--            </form>-->
    </div>
    <div class="card bg-light p-2 w-25 mt-3 mx-auto">
        <h2 class="card-title">User Info</h2>
        <h3 class="text-subtitle mt-2">Change Username</h3>
        <form action="/account/user/username" method="post" class="mt-1">
            <label for="username">New Username</label>
            <input class="form-control" type="text" name="username" id="username" th:value="${session.user.getUsername()}">
            <button class="btn btn-primary mt-1" type="submit">Update</button>
        </form>
        <h2 class="text-subtitle mt-3">Change Password</h2>
        <form action="#" class="mt-1">
            <label>New Password</label>
            <input class="form-control" type="password" id="password" name="newPassword" required>
            <label>Confirm Password</label>
            <!-- TODO(michaelrehman): JS check if passwords match -->
            <input class="form-control" type="password" oninput="checkPW(this)" required>
            <button class="btn btn-primary mt-1" type="submit">Update</button>
        </form>
    </div>
</main>

<script>
    function checkPW(input) {
        if (input.value !== document.getElementById('password').value) {
            input.setCustomValidity('Passwords must match');
        } else {
            input.setCustomValidity('');
        }
    }
</script>

</body>
</html>