<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CollegeRetro - Search</title>
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <link rel="stylesheet" th:href="@{/style/listing.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="fragments/topnav :: navbar"></div>
    <main>
        <section>
            <div th:each="listing : ${listings.toList()}" >
                <div th:replace="fragments/listing :: listingCard(${listing})"></div>
            </div>
        </section>
    </main>
</body>
</html>
